.vscode
.DS_Store
.coverage
.pytest_cache
htmlcov
__pycache__
*.py[cod]
*$py.class

#created .bib files
*.bib

# data files
data/database.sqlite
data/test-database.sqlite

# robot framework test output
log.html
output.xml
report.html
